<template>
  <div class="container">
    <div class="list">
      <ul>
        <li v-for="(value, index) in list" :key="index">
          <CocktailView
              :item="value"
              @click="selectedItem=value"
              :class="{'selected':isSelected(value)}"/>
        </li>
      </ul>
    </div>
    <div class="card">
      <CocktailEditor
          :item="selectedItem"
          :title="selectedItem.strDrink"
          v-if="selectedItem != null"
      />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import CocktailView from "@/components/CocktailView.vue";
import "../assets/listComponent.scss";
import CocktailEditor from "@/components/CocktailEditor.vue";

export default {
  name: "CocktailList",
  components: {CocktailEditor, CocktailView},
  props: {
    alpha: String
  },
  data() {
    return {
      alphaLocal: this.alpha,
      list: [],
      selectedItem: null
    }
  },
  mounted() {
    this.callApi("a");
  },
  watch: {
    alpha: function (newValue) {
      this.callApi(newValue)
    }
  },
  methods: {
    callApi(letter) {
      const apiOptions = {
        method: 'GET',
        url: "https://www.thecocktaildb.com/api/json/v1/1/search.php?f=" + letter,
        headers: {
          'Accept': 'application/json',
        }
      };

      axios.request(apiOptions).then((data) => {
        if ( data.status === 200 && data.data != null ) {
          this.list = data.data.drinks;
        }
      }).catch(() => {
        console.error("An error occured");
      });
    },
    isSelected(item){
      return item == (this.selectedItem);
    }
  }
}
</script>

<style scoped>

</style>
