<template>
  <div class="cocktail">
    <div class="img">
      <img :src="item.strDrinkThumb" alt="nothing"/>
    </div>
    <div class="title">
      <h2>{{ item.strDrink }}</h2>
      <ul>
        <li>[</li>
        <li>{{getAllIngredients}}</li>
        <li>]</li>
      </ul>
    </div>
  </div>
</template>

<script>
import "../assets/viewComponent.scss"
export default {
  name: "CocktailView",
  props: {
    item:Object
  },
  computed: {
    getAllIngredients() {
      let str = [];
      str.push(this.item.strIngredient1);
      str.push(this.item.strIngredient2);
      str.push(this.item.strIngredient3);
      str.push(this.item.strIngredient4);
      str.push(this.item.strIngredient5);
      str.push(this.item.strIngredient6);
      str.push(this.item.strIngredient7);
      str.push(this.item.strIngredient8);
      str.push(this.item.strIngredient9);
      str.push(this.item.strIngredient10);
      str.push(this.item.strIngredient11);
      str.push(this.item.strIngredient12);
      str.push(this.item.strIngredient13);
      str.push(this.item.strIngredient14);
      str.push(this.item.strIngredient15);

      let result = str.filter(x => x);

      result = result.join(",");

      return result;
    }
  }
}
</script>

<style scoped>

</style>
