<template>
  <div class="editor-container">
    <h2>{{ drinkTitle }}</h2>

    <div class="input">
      <label>Cocktail Name</label>
      <input type="text" v-model="drinkTitle"/>
    </div>

    <div class="desc">
      <div class="img">
        <img :src="item.strDrinkThumb" alt="nothing"/>
      </div>
      <ul>
        <li v-for="(value,index) in getAllIngredients" :key="index">{{ value }}</li>
      </ul>
    </div>

    <div class="instruction">
      <h2>Intructions</h2>
      <p>{{ item.strInstructions }}</p>
    </div>

    <div class="button">
      <button @click="this.localItem.strDrink = this.drinkTitle">Save</button>
      <button @click="this.drinkTitle = this.localItem.strDrink">Reset</button>
    </div>
  </div>

</template>

<script>
import "../assets/editorComponent.scss";

export default {
  name: "CocktailEditor",
  props: {
    item: Object,
    title: String
  },
  data() {
    return {
      localItem: this.item,
      drinkTitle: this.title
    }
  },
  watch: {
    title: function (newValue) {
      this.drinkTitle=newValue;
    },
    item: function (newValue) {
      this.localItem = newValue;
    }
  },
  computed: {
    getAllIngredients() {
      let str = [];
      str.push(this.item.strIngredient1);
      str.push(this.item.strIngredient2);
      str.push(this.item.strIngredient3);
      str.push(this.item.strIngredient4);
      str.push(this.item.strIngredient5);
      str.push(this.item.strIngredient6);
      str.push(this.item.strIngredient7);
      str.push(this.item.strIngredient8);
      str.push(this.item.strIngredient9);
      str.push(this.item.strIngredient10);
      str.push(this.item.strIngredient11);
      str.push(this.item.strIngredient12);
      str.push(this.item.strIngredient13);
      str.push(this.item.strIngredient14);
      str.push(this.item.strIngredient15);

      let result = str.filter(x => x);

      return result;
    }
  }
}
</script>

<style scoped>

</style>
