.editor-container {
  display: flex;
  flex-direction: column;

  &>h2{
    text-align: left;
    font-size: 2em;
  }

  &>.input {
    margin: 2rem;
    &>label {
      background-color: #e9ecef;
      border: 1px solid #ced4da;
      border-radius: 5px 0 0 5px;
      padding: 10px;
      font-size: 1em;
      font-weight: bold;
    }
    &>input {
      padding: 10px;
      font-size: 1em;
      border: 1px solid #ced4da;
      border-radius: 0 5px 5px 0;
    }

  }

  &>.desc {
    display: flex;
    &>.img {
      width: 256px;
      &>img {
        width: inherit;
      }
    }

    &>ul {
      margin-left: 30px;
      &>li {
        text-align: left;
      }
    }
  }

  &>.instruction {
    display: flex;
    flex-direction: column;
    h2 {
      text-align: left;
      margin: 10px 0;
    }
    p {
      text-align: justify;
    }
  }

  &>.button  {
    display: flex;
    margin: 10px;
    &>button:first-child {
      background: indianred;
      border: none;
      padding: 10px;
      border-radius: 5px;
    }
    &>button:last-child {
      margin-left: 10px;
      background: darkgrey;
      border: none;
      padding: 10px;
      border-radius: 5px;
    }
  }
}
