.container {
  display: flex;
  flex-direction: row;
  height: 80%;
}
.list {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 50%;
  margin: 0;
  padding: 0;
  ul {
    list-style: none;
  }
}
.card {
  padding: 10px;
  width: 50%;
}

.selected {
  background: lightgreen;
}
