* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#app {
  margin-top: 0 !important;
  height: 100%;
}

body {
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.header {
  background: #483d8b;
  width: calc(100% - 20px);
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: white;
  }

  & > ul {
    width: 100%;
    display: flex;
    list-style: none;
    color: white;
    align-items: center;
    justify-content: center;

    & > li {
      font-size: 1.75em;
      margin: 0 5px;
      cursor: pointer;
    }
  }
}

footer {
  padding: 1em;
  background: #483d8b;
  color:white;
  &>a {
    color:white;
  }
}
