.cocktail {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 3px;
  margin: 10px auto;
  align-items: center;
  &>.img {
    display: flex;
    align-items: center;
    width: calc(64px - 8px);
    padding: 4px;
    &>img {
      width: inherit;
      height: auto;
    }
  }
  &>.title {
    margin-left: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    &>ul {
      display: flex;
      list-style: none;
      &>li {
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
