<template>
  <header class="header">
    <h1>Cocktails</h1>
    <ul>
      <li v-for="(value, index) in alphabets" :key="index" @click="changeSelectedMethods(value)">{{ String.fromCharCode(value) }}</li>
    </ul>
  </header>

  <cocktail-list :alpha="selectedLetter"/>

  <footer>
    Ce site utilise <a href="Ce site utilise https://www.thecocktaildb.com/">https://www.thecocktaildb.com/</a>
  </footer>
</template>

<script>
import "./assets/main.scss";
import CocktailList from "@/components/CocktailList.vue";
export default {
  name: 'App',
  data() {
    return {
      alphabets: [],
      selectedLetter: "a"
    }
  },
  mounted() {
    for(let i=65;i<=90;i++) {
      this.alphabets.push(i);
    }
  },
  components: {
    CocktailList
  },
  methods: {
    changeSelectedMethods(code) {
      this.selectedLetter = String.fromCharCode(code).toLowerCase();
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
